$breakPoint: 900px;
$max-width-head: 1300px;
$max-width-body: 1000px;
$cBlue: #00A0E9;
$cWhite: white;
$cBlack: #333333;
$cPaleGreen: #E7ECD5;
$cGray: #AAAAAA;
$cOrange: #F39800;

$cBorder-color-mv: #EBECE7;
$cBorder-color-nav: #CCCCCC;
$cBorder-color-voice: #CECEBF;


.font-xs-regular{
    font-size: 12px;
}

.font-sm-regular{
    font-size: 14px;
}

.font-md-regular{
    font-size: 16px;
}

.font-lg-regular{
    font-size: 18px;
}

.font-sm-bold{
    font-size: 14px;
    font-weight: 600;
}

.font-md-bold{
    font-size: 16px;
    font-weight: 600;
}

.font-xl-bold{
    font-size: 22px;
    font-weight: 600;
}
