@use 'component' as *;

header{
    box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.16);
    overflow: hidden;

    & .head-bar{
        background-color: $cBlue;
        height: 26px;
    
        & p{
            color: $cWhite;
            @extend .font-sm-regular;
            max-width: $max-width-body;
            margin: 0 auto;
            line-height: 26px;
        }
    }
    
    & .head-title{
        display: flex;
        justify-content: space-between;
        max-width: $max-width-head;
        margin: 0 auto;
    
        & h1{
            height: 98px;
            display: flex;
            align-items: center;
        }
    
    
        & .store-info{
            display: flex;
            align-items: center;
            & a{
                display: inline-block;
                &:first-child{
                    margin-right: 10px;
                }
    
                & .address{
                    width: 264px;
                }
        
                & .reserve{
                    width: 335px;
                }
            }
    
        }
    }
    
    & .mainvisual{
        text-align: center;
        border-top: 3px solid $cBorder-color-mv;
        border-bottom: 3px solid $cBorder-color-mv;
        height: 352px;
    
        & img{
            display: inline;
        }
    }
    
    & .nav-menu{
        max-width: $max-width-body;
        margin: 23px auto 24px auto; 
    
        & ul{
            list-style: none;
            padding-left: 0;
            display: flex;
    
            & li{
                flex-grow: 1;
                width: 100%;
    
                & a{
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    padding: 12px 0px;
                    border-left: 1px solid $cBorder-color-nav;
                    @extend .font-md-bold;
                    color: $cBlack;
                }
    
                &:last-child{
                    a{
                        border-right: 1px solid $cBorder-color-nav;
                    }
                }
    
            }
    
        }
    }
}

.container{
    max-width: $max-width-body;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;

    //セクション共通のレイアウト
    & section{
        margin-bottom: 40px;
    }
    //見出し共通のレイアウト
    & h2{
        background-color: $cPaleGreen;
        position: relative;
        padding-left: 27px;
        height: 50px;
        line-height: 50px;

        &::before{
            content: '';
            position: absolute;
            top: 10px;
            left: 10px;
            width: 7px;
            height: 30px;
            background-color: $cBlue;
        }
    }

    & main{
        width: 74%;

        & .new{

            & dl{
                margin-top: 21px;
    
                & dt{
                    color: $cGray;
                    @extend .font-md-regular;
                    margin-bottom: 4px;
                }
    
                & dd{
                    color: $cBlue;
                    @extend .font-xl-bold;
                    margin-bottom: 16px;
                }
            }
    
            & a{
                display: block;
                position: relative;
                width: 190px;
                height: 37px;
                @extend .font-sm-bold;
                padding-left: 38px;
                background-color: $cOrange;
                color: $cWhite;
                text-decoration: none;
                line-height: 37px;
                margin-top: 12px;
                margin-left: auto;
                border-radius: 6px;
    
                &::before{
                    display: block;
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    width: 10px;
                    height: 2px;
                    background-color: $cWhite;
                    transform: translateY(-50%) rotate(-30deg);
                    transform-origin: right;
    
                }
    
                &::after{
                    display: block;
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    width: 10px;
                    height: 2px;
                    background-color: $cWhite;
                    transform: translateY(-50%) rotate(30deg);
                    transform-origin: right;
    
                }
            }
        }
    
        & .course{
            & .description{
                margin: 20px 0;
            }
    
            & .course-item{
                display: flex;
                justify-content: space-between;
            }
        }
    
        & .voice{
            & .content{
                margin-top: 24px;
    
                & article{
                    display: flex;
                    padding: 25px;
                    border: 1px solid $cBorder-color-voice;
                    margin-bottom: 25px;
    
                    & .item{
                        margin-left: 25px;
    
                        & h4{
                            height: 36px;
                            color: $cBlue;
                            @extend .font-xl-bold;
                            line-height: 30.8px;
                            position: relative;
    
                            &::after{
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background-color: $cBorder-color-nav;
    
                            }
                        }
    
                        & .voice__content{
                            margin-top: 20px;
                            margin-bottom: 40px;
                            @extend .font-md-regular;
                            line-height: 28.8px;
                        }
    
                        & .voice__course{
                            text-align: end;
                            @extend .font-md-regular;
                        }
                    }
                }
            }
        }
    
        & .store-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid $cBorder-color-voice;
            padding: 35px;
            
    
            & a{
                &:first-child{
                    width: 264px;
                    position: relative;
                }
    
                &:last-child{
                    width: 335px;
                }
            }
    
            & span{
                display: block;
                width: 1px;
                height: 64px;
                margin: 0 35px;
                background-color: $cBorder-color-voice;
            }
        }
    }

    & aside{
        width: 24%;
    }
    
}

