@charset "UTF-8";
.font-xs-regular, .container aside .blog dt {
  font-size: 12px;
}

.font-sm-regular, header .head-bar p, .container aside .shop ul li, footer .copy p {
  font-size: 14px;
}

.font-md-regular, .container main .new dl dt, .container main .course .description, .container main .voice .content article .item .voice__content, .container main .voice .content article .item .voice__course {
  font-size: 16px;
}

.font-lg-regular {
  font-size: 18px;
}

.font-sm-bold, .container main .new a, footer .nav-menu ul li a {
  font-size: 14px;
  font-weight: 600;
}

.font-md-bold, header .nav-menu ul li a, .container aside .blog dd {
  font-size: 16px;
  font-weight: 600;
}

.font-xl-bold, .container h2, .container h3, .container main .new dl dd, .container main .voice .content article .item h4 {
  font-size: 22px;
  font-weight: 600;
}

body {
  font-family: "メイリオ", sans-serif;
}

@media screen and (min-width: 640px) {
  header {
    box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.16);
    overflow: hidden;
  }
}
header .head-bar {
  background-color: #00A0E9;
  height: 53px;
}
@media screen and (min-width: 640px) {
  header .head-bar {
    height: 26px;
  }
}
header .head-bar p {
  color: white;
  max-width: 1032px;
  padding: 0 5px;
  margin: 0 auto;
  line-height: 26px;
}
@media screen and (min-width: 640px) {
  header .head-bar p {
    display: block;
  }
}
header .head-bar p .visible-sp {
  display: block;
}
@media (min-width: 640px) {
  header .head-bar p .visible-sp {
    display: none;
  }
}
header .head-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 16px;
}
@media screen and (min-width: 640px) {
  header .head-title {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}
header .head-title h1 {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 640px) {
  header .head-title h1 {
    height: 98px;
    text-align: start;
  }
}
header .head-title h1 img {
  width: 176px;
}
@media screen and (min-width: 640px) {
  header .head-title h1 img {
    width: auto;
  }
}
header .head-title .store-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head-title .store-info a {
  display: inline-block;
  width: 48%;
}
@media screen and (min-width: 640px) {
  header .head-title .store-info a:first-child {
    margin-right: 18px;
  }
}
header .head-title .store-info a .address {
  width: 264px;
}
header .head-title .store-info a .address.visible-sp {
  display: block;
}
header .head-title .store-info a .address.visible-pc {
  display: none;
}
@media screen and (min-width: 640px) {
  header .head-title .store-info a .address.visible-sp {
    display: none;
  }
  header .head-title .store-info a .address.visible-pc {
    display: block;
  }
}
header .head-title .store-info a .reserve {
  width: 335px;
}
header .head-cover {
  height: 47px;
  background-color: #00A0E9;
  margin: 10px 16px;
  position: relative;
}
@media screen and (min-width: 640px) {
  header .head-cover {
    display: none;
  }
}
header .head-cover .menu-sp {
  position: absolute;
  width: 30px;
  height: 27px;
  top: 10px;
  right: 10px;
}
header .head-cover .menu-sp span {
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: white;
}
header .head-cover .menu-sp span:nth-child(2) {
  top: 11px;
}
header .head-cover .menu-sp span:nth-child(3) {
  top: 22px;
}
header .mainvisual {
  border-top: 3px solid #EBECE7;
  border-bottom: 3px solid #EBECE7;
}
header .mainvisual img {
  display: block;
  margin: 0 auto;
}
header .nav-menu {
  display: none;
  max-width: 1032px;
  margin: 23px auto 24px auto;
  padding: 0 16px;
}
@media screen and (min-width: 640px) {
  header .nav-menu {
    display: block;
  }
}
header .nav-menu ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}
header .nav-menu ul li {
  flex-grow: 1;
  width: 100%;
}
header .nav-menu ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 12px 0px;
  border-left: 1px solid #CCCCCC;
  color: #333333;
}
header .nav-menu ul li:last-child a {
  border-right: 1px solid #CCCCCC;
}

.container {
  max-width: 1032px;
  margin: 40px auto 160px auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}
.container h2 {
  background-color: #E7ECD5;
  position: relative;
  padding-left: 27px;
  height: 50px;
  line-height: 55px;
}
.container h2::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 7px;
  height: 30px;
  background-color: #00A0E9;
}
.container h3 {
  position: relative;
  padding-left: 17px;
  line-height: 30px;
  margin-bottom: 10px;
}
.container h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background-color: #00A0E9;
}
.container main {
  width: 72%;
}
.container main section {
  margin-bottom: 40px;
}
.container main .new dl {
  margin-top: 21px;
}
.container main .new dl dt {
  color: #AAAAAA;
  margin-bottom: 4px;
}
.container main .new dl dd {
  color: #00A0E9;
  margin-bottom: 16px;
}
.container main .new a {
  display: block;
  position: relative;
  width: 190px;
  height: 37px;
  padding-left: 38px;
  background-color: #F39800;
  color: white;
  text-decoration: none;
  line-height: 40px;
  margin-top: 12px;
  margin-left: auto;
  border-radius: 6px;
}
.container main .new a::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 2px;
  background-color: white;
  transform: translateY(-50%) rotate(-30deg);
  transform-origin: right;
}
.container main .new a::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 2px;
  background-color: white;
  transform: translateY(-50%) rotate(30deg);
  transform-origin: right;
}
.container main .course .description {
  margin: 20px 0;
}
.container main .course .course-item {
  display: flex;
  justify-content: space-between;
}
.container main .course .course-item img {
  width: 32%;
}
.container main .voice .content {
  margin-top: 24px;
}
.container main .voice .content article {
  display: flex;
  padding: 25px;
  border: 1px solid #CECEBF;
  margin-bottom: 25px;
}
.container main .voice .content article img {
  height: 100%;
}
.container main .voice .content article .item {
  margin-left: 25px;
}
.container main .voice .content article .item h4 {
  padding-bottom: 5px;
  color: #00A0E9;
  line-height: 30.8px;
  position: relative;
}
.container main .voice .content article .item h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #CCCCCC;
}
.container main .voice .content article .item .voice__content {
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 28.8px;
}
.container main .voice .content article .item .voice__course {
  text-align: end;
}
.container main .store-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #CECEBF;
  padding: 35px;
}
.container main .store-info a:first-child {
  width: 264px;
  position: relative;
}
.container main .store-info a:last-child {
  width: 335px;
}
.container main .store-info span {
  display: block;
  width: 1px;
  height: 64px;
  margin: 0 35px;
  background-color: #CECEBF;
}
.container aside {
  width: 26%;
}
.container aside section {
  margin-bottom: 30px;
}
.container aside > img {
  margin-bottom: 30px;
}
.container aside .shop ul {
  list-style: none;
  padding-left: 0;
}
.container aside .shop ul li {
  margin-top: 10px;
}
.container aside .blog dt {
  color: #00A0E9;
  padding-top: 15.5px;
  padding-bottom: 5px;
}
.container aside .blog dt:first-child {
  padding-top: 0;
}
.container aside .blog dd {
  color: #00A0E9;
  text-decoration: underline;
  padding-bottom: 15.5px;
  position: relative;
  border-bottom: 1px dotted #AAAAAA;
}
.container aside .relation {
  margin-bottom: 30px;
}
.container aside .relation img {
  width: 100%;
  height: 94px;
  margin-bottom: 10px;
}

footer .nav-menu {
  background-color: #00A0E9;
}
footer .nav-menu ul {
  max-width: 1032px;
  margin: 0 auto;
  padding: 19.5px 15px;
  list-style: none;
  display: flex;
}
footer .nav-menu ul li {
  flex-grow: 1;
  width: 100%;
}
footer .nav-menu ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 12px 0px;
  border-left: 1px solid white;
  color: white;
}
footer .nav-menu ul li:last-child a {
  border-right: 1px solid #CCCCCC;
}
footer .footer-info {
  max-width: 1032px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
footer .footer-info img.logo {
  width: 300px;
  margin: 44px 0 40px 0;
}
footer .footer-info img.address {
  width: 264px;
  margin: 50px 0 45px 0;
}
footer .copy {
  padding-bottom: 40px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */